<section ng-controller="DealController as deal">
	{{deal.proofs}}
	<h2 ng-show="!deal.designer">Hello, {{deal.deal.client.fName}}! Here are your proofs for review.</h2>
	<div ng-show="!deal.designer" class="ui compact icon message">
		<i class="talk icon"></i>
		<div class="content">
			<div class="header">
				We're awaiting your feedback on your most recent proof.
			</div>
			<p>Let us know what you think! We can make any changes you like, or help you finalize your order details.</p>
		</div>
	</div>
	<div class="ui three stackable cards">

		<div ng-show="deal.designer" class="ui card fluid" >
			<div class="image">
				<img src="assets/no-image.png">
			</div>
			<div id="addProof" class="ui bottom attached button positive">
			      <i class="add icon"></i>
			      New Proof
			</div>
		</div>

		<div ng-repeat="proof in deal.proofs" class="ui card fluid raised" >
			<div class="image">
				<img src={{proof.image}}>
			</div>
			<div class="content">
				<p class="header">Proof 4 <span class="right floated"><i class="talk icon"></i></span></p>
				<!-- <p class="meta">Created 2 days ago</p> -->
				<p class="meta">Awaiting your response</p>
			</div>
		</div>

		<!-- <div class="ui card fluid raised" >
			<div class="image">
				<img src="images/dummy-proof-1.png">
			</div>
			<div class="content">
				<p class="header">Proof 4 <span class="right floated"><i class="talk icon"></i></span></p>
				<p class="meta">Created 2 days ago</p>
				<p class="meta">Awaiting your response</p>
			</div>
		</div>

		<div class="ui card fluid">
			<div class="image">
				<img src="images/dummy-proof-2.png">
			</div>
			<div class="content">
				<p class="header">Proof 3</p>
				<p class="meta">Created 3 days ago</p>
			</div>
		</div>

		<div class="ui card fluid">
			<div class="image">
				<img src="images/dummy-proof-3.png">
			</div>
			<div class="content">
				<p class="header">Proof 2</p>
				<p class="meta">Created 5 days ago</p>
			</div>
		</div>
		
		<div class="ui card fluid">
			<div class="image">
				<img src="images/dummy-proof-4.png">
			</div>
			<div class="content">
				<p class="header">Proof 1</p>
				<p class="meta">Created 8 days ago</p>
			</div>
		</div>
	</div> -->

	<div id="modaldiv" class="ui modal">
	  <i class="close icon"></i>
	  <div class="header">
	    New Proof
	  </div>
	  <div class="content">
	    <div class="description">
	      <div class="ui header">We've auto-chosen a profile image for you.</div>
	      <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
	      <p>Is it okay to use this photo?</p>
	    </div>
	  </div>
	  <div class="actions">
	    <div class="ui black button">
	      Nope
	    </div>
	    <div class="ui positive right labeled icon button">
	      Yep, that's me
	      <i class="checkmark icon"></i>
	    </div>
	  </div>
	</div>

</section>