<section ng-controller="ProofController as proof"><div class="ui mobile stackable grid">

	<div class="ui row">
		<div class="sixteen wide column">
			<div class="ui segment raised">
				<img class="ui fluid image" src={{proof.proof.image}}>				
			</div>
		</div>
	</div>
	<div class="ui row reversed">
		<div class="six wide column">
			<div class="ui secondary segment">
				<h2>Proof Info</h2>
				<div class="ui divider"></div>
				<h3>Your Desigener:</h3>
				<p>Mark Johnson</p>
				<div class="ui divider"></div>
				<a ng-href="/deal/{{proof.proof.deal}}">See the other proofs in this deal.</a>
			</div>
		</div>
		<div class="ten wide column">
			<div class="ui piled segment">
				<h2>Your Feedback</h2>
				<div class="ui divider"></div>
				<div ng-show="!proof.response.revise  && !proof.proof.response.changes">
					<h3>Would you like us to revise your proof?</h3>
					<div class="ui huge fluid buttons">
						<button class="ui positive button" ng-click="requestRevision()">Yes</button>
						<div class="or"></div>
						<button class="ui button">No</button>
					</div>					
				</div>
				<div ng-show="(proof.response.revise == 'yes') && !proof.response.changes">
					<h3>What should we change?</h3>
					<div class="ui form">
						<div class="field">
							<textarea rows="4" ng-model="response.changes"></textarea>
							<div class="ui divider"></div>
							<div class="ui positive right labeled icon button" ng-click="submitResponse()">
								Submit <i class="checkmark icon"></i>
							</div>
						</div>
					</div>
				</div>
				<div ng-show="proof.response.changes">
					<h3>Thanks for your response! Your designer has been notified.</h3>
					<p>We'll send back a new proof as soon as it's ready. Let us know if we can help with anything in the meantime!</p>
				</div>
			</div>
		</div>
	</section>